#alert{
    display: flex;
    justify-content: center;
    padding-block: 15px;
    text-align: center;
    background-color:#fdda24;
    font-size: 18px;
    font-weight: bolder;
    margin: 0px auto; /* Centra el contenedor horizontalmente */
}

#img{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(https://cdn.dynamicyield.com/api/8775742/images/2bad37e64d6d6__ico-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}