<div class="login-container">
  <div class="login-card">
    <img src="https://www.bancolombia.com/wcm/connect/a67af2d6-c768-4f4f-a33b-fd58074f7ce9/logo-bancolombia-black.svg?MOD=AJPERES" alt="Logo Bancolombia">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="usuario">Ingresa tu usuario</label>
      <input type="text" id="usuario" formControlName="usuario" placeholder="Ingrese su usuario">
      <div *ngIf="loginForm.controls['usuario'].invalid && loginForm.controls['usuario'].touched" class="error">
        El usuario es obligatorio y debe tener mínimo 5 caracteres.
      </div>

      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña">
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error">
        La contraseña es obligatoria y debe tener mínimo 8 caracteres.
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>

    <a href="#" class="forgot-password">¿Olvidó su contraseña?</a>
    <div *ngIf="showError" class="alert-error">
      Error en la autenticación. Inténtalo de nuevo.
    </div>
  </div>

</div>
